<div class="member-container {{ include.columnClass }}">
  <figure itemscope itemtype="http://schema.org/Person">
    <img src="{{ member.img }}" alt="{{ member.name | append: ', ' | append: site.title }}" itemprop="image" />
    <figcaption>
    <h3 class="member-name" itemprop="name">{{ member.name }}</h3>
    <h4 class="member-role" itemprop="jobTitle">{{ member.role }}</h4>
    <span class="member-desc" itemprop="description">{{ member.description }}</span>

    </figcaption>
  </figure>
</div>
